<mat-toolbar style="background-color:rgb(12, 177, 177);color:white;">
  <mat-toolbar-row>
    <span>Immobilier De Luxe</span>

    <span class="example-spacer"></span>
    
    <button routerLink = "re-cmp/" mat-button>Catalogue</button>
    <!-- <button mat-button >Services</button> -->
    <a routerLink = "/reservation-cmp" class="text-white">services</a>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<img width="1285" src="assets/images/img1.jpg">
<div class="row"style="margin-left:500px;">
  <i style="font-size:32px;">Vos Désirs,</i>
  <i style="font-size:32px;">Nos Priorités</i>
</div>